<h1>To Do List</h1>
<a href="/modal"><button id="modal" type="button">Button</button></a>
<script>
const BrowserWindow = require('electron').remote.BrowserWindow
const path = require('path')

const newWindowBtn = document.getElementById('modal')

newWindowBtn.addEventListener('click', function (event) {
  const modalPath = path.join('file://', __dirname, './modal.hbs')
  let win = new BrowserWindow({ width: 400, height: 320 })
  win.on('close', function () { win = null })
  win.loadURL(modalPath)
  win.show()
})
</script>
